[Unit]
Description=Network Tap & Link Conditioner Daemon
After=network.target auditd.service
StartLimitIntervalSec=0

[Service]
Type=simple ### forking?
Restart=always
RestartSec=1
User=centos
ExecStart=/usr/bin/env php /path/to/server.php
ExecStop = /usr/local/bin/tsharkd.sh stop
ExecReload = /usr/local/bin/tsharkd.sh reload

[Install]
WantedBy=multi-user.target
