[Unit]
Description=Network Tap & Link Conditioner Daemon
After=network.target auditd.service

[Service]
Type = simple
ExecStart = /usr/local/bin/ntlcd.sh start
ExecStop = /usr/local/bin/ntlcd.sh stop
ExecRestart = /usr/local/bin/ntlcd.sh restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
